.avatar_pic {
    border-style: solid;
    border-width: thick;
    border-radius: : 100%;
    border-color: #fff;
}

li {
    display: block;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
}