.avatar_pic {
    border: 5px solid #fff;
    border-radius: 100%;
}

li {
    display: inline-block;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

#body {
    width: auto;
}

ul {
    margin: 0 auto;   
}